body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181425;
  background-image:
    url('assets/backgrounds/painel2.png'), /* esquerda */
    url('assets/backgrounds/painel1.png'); /* direita */
  background-repeat: repeat-y, repeat-y;
  background-position: left, right;
  background-size: 340px 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Remover imagens para telas menores que 1450px */
@media (max-width: 1498px) {
  body {
    background-image: none; /* Remove as imagens laterais */
  }
}

#app {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
  font-family: 'PixelFont';
  src: url('assets/fonts/PressStart2P-Regular.ttf') format('truetype');
}